:root {
    --gray-color: rgba(244, 206, 206, 0.502);
    --white-color: #ffffff;
    --white-geen-color: #c6e1fa;
  }

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(148, 148, 231);
}

.header {
    display: flex;
    flex-basis: 25%;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(218, 218, 255);
    margin: 20px auto;
    box-shadow: inset 
    0 -10em 0em rgb(211, 211, 255),
    0 0 0 1px rgba(255, 255, 255, 0.881),
    1em 1em 4em rgba(16, 11, 11, 0.3);
}

.main {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-basis: 25%;
    flex-direction: row;
}

.navContainer {
    display: flex;
    flex-direction: row;
}

.Cont1 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont2 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont3 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont4 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont5 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont6 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont7 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.Cont8 {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.preview {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    background-color: var(--gray-color);
    border-radius: 200px 200px 200px 200px;
    padding: 30px 110px 30px 30px;
}

.preview .myphoto {
    width:300px;
    height:300px;
    margin-top: 8px;
    object-fit: cover;
    border-radius: 50%;
    background-size: auto 300px;
    box-shadow: inset 
    0 -10em 0em rgb(211, 211, 255),
    0 0 0 1px rgba(255, 255, 255, 0.881),
    1em 1em 4em rgba(16, 11, 11, 0.3);
}

.preview .shortinfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    translate: 60px;
}

.preview .profession {
    display: flex;
    margin: 100px 0px 0px 0px;
}

#contacts {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: end;
    margin: 3px 0px 0px 0px;
    background-color: var(--white-color);
    border-radius: 15px 200px 200px 15px;
    padding: 30px;
}

#contacts .contactsTopic {
    display: flex;
    margin: 0px 180px 0px 0px;
}

#education {
    margin: 3px 0px 0px 0px;
    background-color: var(--white-geen-color);
    border-radius: 20px 400px 25px 200px;
    padding: 30px;
}